.cabecera{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    

}

.cabecera__logo{
    display: flex;
    align-items: center;
}

.cabecera__img{
    height: 24px;
    padding-right: 0.5rem;
}

.cabecera__nombre{
    font-weight: 700;
}

@media screen and (min-width:0px) {
    .cabecera{
        padding: 1rem 1rem;
    }

    .cabecera__nombre{
        margin: 0;
    }
}

@media screen and (min-width:768px) {
    .cabecera{
        padding: 1rem 2rem;
    }
}

@media screen and (min-width:1440px) {
    .cabecera{
        padding: 1rem 9.5rem;
    }
}