.cabecera{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    padding: 1rem 9.5rem;

}

.cabecera__logo{
    display: flex;
    align-items: center;
}

.cabecera__img{
    height: 24px;
    padding-right: 0.5rem;
}

.cabecera__nombre{
    font-weight: 700;
}