.navegador{
    font-weight: 500;
    font-size: 1rem;
}

.navegador__lista{
    display: flex;
}

.navegador__item{
    list-style: none;
}

.navegador__link{
    color:#464646;
    text-decoration: none;
    margin-left: 1.5rem;
}

.navegador__link--email{
    font-weight: 700;
}

@media screen and (min-width:0px) {
    .navegador__link{
        display: none;
    }

    .navegador__link--email{
        display: flex;
        font-weight: 400;
    }
}

@media screen and (min-width:768px) {

}

@media screen and (min-width:1440px) {
    .navegador__link{
        display: flex;
    }

}