.presentacion{
    display: flex;
    padding: 2rem 9.5rem;
    align-items:  center;
    /* width: 100%; */
    background:  url("../img/banner.jpg") no-repeat center / cover; 
    background-color: rgba(0, 0, 0, 0.1);

}

.presentacion__contenido{
    padding-right: 1rem;
}

.presentacion__imagen{
    border-radius: 100%;
    height: 368px;
}


.presentacion__titulo{
    font-size: 3.25rem;
    font-weight: 700;
}

.presentacion__descripcion{
    font-size: 1.375rem;
    font-weight: 400;
}

.presentacion__lista{
    display: flex;
}

.presentacion__item{
    list-style: none;
    padding-right: 3.5rem;
}

.presentacion__link{
    color:#464646;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.presentacion__link--flecha{
    height: 24px;
}