.presentacion{
    display: flex;
    padding: 2rem 9.5rem;
    align-items:  center;
    background:  url("../img/banner.jpg") no-repeat center / cover; 
    background-color: rgba(0, 0, 0, 0.1);

}

.presentacion__contenido{
    padding-right: 1rem;
    width: calc(100% - 368px);
}

.presentacion__imagen{
    border-radius: 100%;
    height: 368px;
}


.presentacion__titulo{
    font-size: 3.25rem;
    font-weight: 700;
}

.presentacion__descripcion{
    font-size: 1.375rem;
    font-weight: 400;
}

.presentacion__lista{
    display: flex;
}

.presentacion__item{
    list-style: none;
    padding-right: 3.5rem;
}

.presentacion__link{
    color:#464646;
    text-decoration: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.presentacion__link--flecha{
    height: 24px;
}

@media screen and (min-width:0px) {
    .presentacion{
        padding: 0 1rem;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .presentacion__titulo{
        font-size: 1.375rem;
    }

    .presentacion__imagen{
        height: 98px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .presentacion__contenido{
        width: 100%;
    }

    .presentacion__descripcion{
        font-size: 1rem;
    }

    .presentacion__item{
        padding-right: 8px;
    }

    .presentacion__link{
        font-size: 0.875rem;
        font-weight: 600;
    }

    .presentacion__link--flecha{
        height: 16px;
    }

}

@media screen and (min-width:768px) {
    .presentacion{
        padding: 2rem 2rem;
    }

    .presentacion__titulo{
        font-size: 1.375rem;
    }

    .presentacion__imagen{
        height: 146px;
    }

    .presentacion__contenido{
        width: calc(100% - 146px);
    }

    .presentacion__descripcion{
        font-size: 1rem;
    }

}