.tarjetas{
    padding: 2rem 9.5rem;
}

.tarjetas__titulo{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.tarjetas__contenido{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.tarjeta{
    background-color: #FFFFFF;
    width: calc(176px - 2rem);
    height: 174px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.tarjeta__icono{
    margin-bottom: 0.5rem;
    color: #2A7AE4;
    align-items: center;
    height: 32px;
}

.tarjeta__nombre{
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
}