.tarjetas{
    padding: 2rem 9.5rem;
}

.tarjetas__titulo{
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
}

.tarjetas__contenido{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.tarjeta{
    background-color: #FFFFFF;
    width: calc(176px - 2rem);
    height: 174px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.tarjeta__icono{
    margin-bottom: 0.5rem;
    color: #2A7AE4;
    align-items: center;
    height: 32px;
}

.tarjeta__nombre{
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
}

@media screen and (min-width:0px) {
    .tarjetas{
        padding: 1.5rem 1rem;
    }

    .tarjetas__titulo{
        font-size: 1.375rem;
    }

    .tarjeta{
        height: calc(118px - 2rem);
        width: calc(50% - 2.5rem);
    }

}

@media screen and (min-width:768px) {
    .tarjetas{
        padding: 2rem 2rem;
    }

    .tarjeta{
        height: calc(118px - 2rem);
        max-width:calc(224px - 2rem); ;
        width: calc(100% - 2rem);
        margin-bottom: 1rem;
    }

}